.MainContainer{
    margin:1% 4%;
    box-sizing:border-box;
}
.MainSection{
    margin-top:2%;
    display:flex;
    margin-left:8%;
   
}

@media screen and (max-width:600px){

    .MainSection{
        display:block;
        margin:0px;
    }
}